

<br><br>

<h3><span style="color:white">Silver Level Sponsors</span></h3>


<table border="0" cellpadding="20" cellspacing="20" align="center">
<tbody><tr>

<td style="width: 70px" />
  
<td style="width: 200px" align="center">
  <a href="https://www.naver.com/">
    <img border="0" src="https://upload.wikimedia.org/wikipedia/commons/2/23/Naver_Logotype.svg" >
  </a>
</td>
  
<td style="width: 200px" align="center">
  <a href="http://google.com/">
    <img border="0" src="img/google.png" >
  </a>
</td>

</tr></tbody></table>

