// Masthead
//
// The style of the site's title and optional secondary description.

.masthead {
  position: fixed;
  padding-top:    0; //1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  justify-content: center;

}

.masthead-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $body-color;
  position: relative;
  text-align: center;

@media (prefers-color-scheme: dark) {
  color: $body-color-dark;
  }

  a {
    color: inherit;
  }

  small {
    font-size: 95%;
    font-weight: 400;
    opacity: .5;
  }
}

.navigation {
  margin: 0 auto;
  text-align: center;
  width:100%;
  display: block;
  font-size: 100%;
  font-variant: small-caps;
  font-weight: 500;
  color: $body-color;


@media (prefers-color-scheme: dark) {
  color: $body-color-dark;
  }

ul#navigation-list {
  width:100%;
  text-align: center;
  position: fixed;
  list-style: none;
  padding-bottom: 0.75rem;
  padding-top: 0.45rem;
  background: rgba(224, 214, 214, 1.0);
  }
  ul#navigation-list li {
    display: inline-block;
    *display:inline;
    zoom:1;
    list-style: none;
	padding-left: 0;
    padding-right: 15px;
	margin: auto;
    background: rgba(224, 214, 214, 1.0);

    }
    ul#navigation-list li a {
      color: #08503b;
    }
}

